body {
  color: #ddd;
  background-color: #495057;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-column-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.flex-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.flex-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.navbar-margin-bottom {
  margin-bottom: 50px;
}

.min-width {
  width: min-content !important;
}

.full-width {
  width: 100%;
}

.button-margin-vertical {
  margin: 10px 0;
}

.small-margin-lr {
  margin: 0 10px;
}

.dark-input {
  background-color: #2a2a2f;
  color: #ddd;
  height: 40px;
  border: solid #6a6a6f 2px;
}

.dark-input {
  background-color: #2a2a2f;
  color: #ddd;
  height: 40px;
  border: solid #6a6a6f 2px;
}

input:focus {
  border: solid #aaaaaf 3px !important;
  box-shadow: none;
}

.form-container {
  padding: 30px 15px 0 0;
  background-color: #394047;
  border-radius: 10px;
}

.btn-link {
  color: #ddd;
  text-decoration: none;
  border-radius: 10px;
}

.btn-link:hover {
  color: #eee;
  background-color: rgb(256,256,256,0.05);
  text-decoration: none;
  border-radius: 10px;
}

.hidden {
  display: none;
}